*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

header{
    height: 700px;
    padding: 5px 15px;
    position: relative;
}

header::after{
    content: "";
    background-image: url("./images/background.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.4;
    z-index: -100;
}

.logo img{
    width: 150px;
    height: 40px;
    margin: 25px;
    float: left;
}

.signIn button{
    width: 80px;
    height: 40px;
    font-size: 16px;
    background-color: crimson;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin: 25px;
}

.started{
    clear: both;
    position: relative;
    height: 600px;
}

.started .heading{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.heading h1{
    font-size: 3.125rem;
    width: 640px;
    margin: auto;
}

.heading h2{
    font-weight: normal;
    margin-top: 20px;
}

.getstarted h3{
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 20px;
}

.getstarted input[type=email],[type=button]{
    height: 60px;
    border: none;
    outline: none;
    font-size: 22px;
}

.getstarted input[type=email]{
    width: 500px;
}

.getstarted input[type=button]{
    width: 220px;
    background-color: crimson;
    color: white;
    position: relative;
    left: 2px;
}

main{
    position: relative;
}

.enjoy, .download, .watch, .create{
    height: 500px;
    position: relative;
}

.slide{
    display: none;
}

.prev, .next{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    padding: 20px;
    border-radius: 8px 0 0 8px;
    top: 15%;
}

.next{
    right: 0;
    border-radius: 0 8px 8px 0;
}

.prev:hover, .next:hover{
    background: #777;
}

.wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1250px;
}

.desc{
    width: 600px;
    float: left;
    margin-top: 70px;
    margin-left: 65px;
}

.desc h3{
    font-size: 40px;
}

.desc p{
    font-size: 25px;
}

.preview img{
    height: 320px;
    float: left;
    margin-left: 65px;
}

.wrap .downimg{
    position: absolute;
    height: 60px;
    left: 250px;
    top: -15px
}

.faq{
    height: auto;
    padding: 80px 0;
}

.faq h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.faq .faq-inner{
    font-size: 25px;
    width: 800px;
    margin: auto;
    margin-top: 8px;
}

.faq .according{
    width: 800px;
    height: 70px;
    font-size: 25px;
    background-color: #303030;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: left;
    padding-left: 25px;
}

.faq .panel{
    background-color: #303030;
    margin-top: 5px;
    padding: 0 25px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.faq .according::after{ /*아코디언이 닫혀 있을때 화살표*/
    content:"+";
    position: relative;
    float: right;
    margin-right: 30px;
}

.faq .according.active::after{ /*아코디언이 열려 있을때 화살표*/
    content:"x";
}

.faq .getstarted{
    width: 800px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

footer{
    height: 540px;
    position: relative;
}

.sitemap{
    position: absolute;
    top: 10%;
    left: 15%;
    color: #777;
    font-size: 16px;
}

.sitemap .inner{
    height: 230px;
}

.sitemap .inner h4{
    margin: 25px 0;
    font-weight: normal;
}

.sitemap .inner div{
    display: inline-block;
    vertical-align: top;
    line-height: 35px;
    width: 230px;
}

.sitemap .inner div a{
    display: block;
    text-decoration: none;
    color: #777;
}

.sitemap .inner div a:hover{
    text-decoration: underline;
}

hr{
    background: #222;
    height: 8px;
    border: none;
    outline: none;
}

.modal-login{
    background-color:rgb(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    display: none;
}

.login{
    background-color: rgb(0, 0, 0);
    width: 450px;
    height: 550px;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #777;
}

.login .btn-close{
    font-size: 40px;
    float: right;
    margin: 10px;
    cursor: pointer;
}

.login .form{
    position: absolute;
    top: 50px;
    margin: 25px;
}

.login h1{
    clear: right;
    margin-bottom: 10px;
    color: white;
}

.login input[type=text], input[type=password]{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #333;
    padding: 15px;
    margin-top: 15px;
}

.login input[type=button]{
    width: 400px;
    height: 50px;
    background-color: crimson;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

.login .save{
    position: absolute;
    font-size: 16px;
}

.login .save .need{
    color: #777;
    text-decoration:none;
    float: right;
}

.login .save p:nth-of-type(1){
    margin-top: 30px;
}

.login .save .signup{
    text-decoration: none;
    color: white;
}

.login .save p:nth-of-type(2){
    margin-top: 10px;
    font-size: 14px;
}

.login .save .learn{
    text-decoration: none;
    color: blue;
}

